<div class="container">
  <form method="get" action="/buscar">
    <div class="mb-3">
      <label for="order" class="form-label">Orden</label>
      <input type="text" name="order" class="form-control" />
    </div>
    <div class="mb-3">
      <label for="remito" class="form-label">Remito</label>
      <input type="number" step="0.1" name="remito" class="form-control" />
    </div>
    <div class="mb-3">
      <label for="supplier" class="form-label">Proveedor</label>
      <input type="text" name="supplier" class="form-control" />
    </div>
    <div class="mb-3">
      <label for="title" class="form-label">Nombre</label>
      <input type="text" name="title" class="form-control" />
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-3">Buscar</button>
    </div>
  </form>
</div>

<div class="container">
  {{#if data.length}}
    <table class="table table-striped-columns">
      <thead>
        <tr>
          <th scope="col">Orden</th>
          <th scope="col">Remito</th>
          <th scope="col">Proveedor</th>
          <th scope="col">Material</th>
          <th scope="col">Stock</th>
          <th scope="col">Stock inicial</th>
          <th scope="col">Editar remito</th>
        </tr>
      </thead>
      <tbody>
        <tbody>
          {{#each data}}
            <tr>
              <td>{{order}}</td>
              <td>{{remito}}</td>
              <td>{{supplier}}</td>
              <td>{{title}}</td>
              <td>{{stock}}</td>
              <td>{{initialStock}}</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-bs-toggle="modal"
                  data-bs-target="#{{_id}}"
                >
                  Editar
                </button>
                <div
                  class="modal fade"
                  id="{{_id}}"
                  tabindex="-1"
                  aria-hidden="true"
                >
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title fs-5">{{title}}</h4>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">
                        <form
                          action="/api/items/update/{{_id}}"
                          method="post"
                          enctype="multipart/form-data"
                        >
                          <div class="mb-3">
                            <label for="order" class="form-label">Orden</label>
                            <input
                              type="text"
                              name="order"
                              class="form-control"
                              required
                            />
                          </div>
                          <div class="mb-3">
                            <label
                              for="remito"
                              class="form-label"
                            >Remito</label>
                            <input
                              type="text"
                              name="remito"
                              class="form-control"
                              required
                            />
                          </div>
                          <div class="mb-3">
                            <label
                              for="supplier"
                              class="form-label"
                            >Proveedor</label>
                            <input
                              type="text"
                              name="supplier"
                              class="form-control"
                              required
                            />
                          </div>
                          <div class="mb-3">
                            <label
                              for="title"
                              class="form-label"
                            >Material</label>
                            <input
                              type="text"
                              name="title"
                              class="form-control"
                              required
                            />
                          </div>
                          <div class="mb-3">
                            <label for="stock" class="form-label">Stock</label>
                            <input
                              type="number"
                              name="stock"
                              step="0.1"
                              class="form-control"
                              required
                            />
                          </div>
                          <div class="mb-3">
                            <label for="initialStock" class="form-label">Stock
                              inicial</label>
                            <input
                              type="number"
                              step="0.1"
                              name="initialStock"
                              class="form-control"
                              required
                            />
                          </div>
                          <div class="col-auto">
                            <button
                              type="submit"
                              class="btn btn-primary mb-3"
                            >Editar</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </tbody>
    </table>
  {{else}}
    <p>No se encontraron productos.</p>
  {{/if}}

  <div class="pagination">
    {{#if (gt page 1)}}
      <a
        class="page-link"
        href="/buscar?page={{subtract
          page
          1
        }}&supplier={{supplier}}&title={{title}}&description={{description}}&category={{category}}"
      >Anterior</a>
    {{/if}}

    {{#if (lt page totalPages)}}
      <a
        class="page-link"
        href="/buscar?page={{add
          page
          1
        }}&supplier={{supplier}}&title={{title}}&description={{description}}&category={{category}}"
      >Siguiente</a>
    {{/if}}
  </div>
</div>