<div class="container">
  <table class="table table-striped-columns">
    <thead>
      <tr>
        <th scope="col">Fecha</th>
        <th scope="col">Codigo</th>
        <th scope="col">Nombre</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Categoria</th>
        <th scope="col">Operario</th>
        <th scope="col">Notas</th>
        <th scope="col">Agregar nota</th>
      </tr>
    </thead>
    <tbody>
      {{#each data}}
        <tr>
          <td>{{date}}</td>
          <td>{{itemCode}}</td>
          <td>{{itemName}}</td>
          <td>{{description}}</td>
          <td>{{itemCategory}}</td>
          <td>{{user}}</td>
          <td class="max-width: 200px;">{{#each notes}}(Operario:{{Operario}},
              Nota:{{Nota}}){{/each}}</td>
          <td><form action="/api/changes" method="post">
              <input type="hidden" value="{{itemCode}}" name="itemCode" />
              <input type="text" name="note" />
              <button type="submit">Agregar</button>
            </form></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>