<div class="container">
  <div>
    <form action="/api/items" method="post">
      <input
        type="text"
        name="order"
        class="form-control"
        value="{{order}}"
        hidden
      />
      <div class="mb-3">
        <label for="remito" class="form-label">Remito</label>
        <input type="text" name="remito" class="form-control" />
      </div>
      <div class="mb-3">
        <label for="supplier" class="form-label">Proveedor</label>
        <select name="supplier">
          {{#each suppliers}}
            <option value="{{supplier}}">{{supplier}}</option>
          {{/each}}
        </select>
      </div>
      <div class="mb-3">
        <label for="title" class="form-label">Material</label>
        <select name="title">
          {{#each material}}
            <option value="{{title}}">{{title}}</option>
          {{/each}}
        </select>
      </div>
      <div class="mb-3">
        <label for="stock" class="form-label">Ingreso</label>
        <input type="number" step="0.1" name="stock" class="form-control" />
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Cargar</button>
      </div>
    </form>
  </div>
</div>