<div>
  <button
    class="btn btn-primary mb-3"
    onclick="imprimirTablas('orders')"
  >Imprimir ordenes</button>
  {{#each initialOrders}}
    <table class="table text-center tablaImprimir orders" hidden>
      <thead>
        <tr>
          <th>{{order}}</th>
        </tr>
        <tr>
          <th scope="col">Proveedor</th>
          <th scope="col">Material</th>
          <th scope="col">Stock inicial</th>
          <th scope="col">Restan</th>
        </tr>
      </thead>
      <tbody>
        {{#each items}}
          <tr>
            <td>
              {{supplier}}
            </td>
            <td>
              {{title}}
            </td>
            <td>
              {{initialStock}}
            </td>
            <td>
              {{actualStock}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/each}}
</div>