<div class="container">
  <div> 
    <form action="/api/purchases" method="post">
      <div class="mb-3">
        <label for="order" class="form-label">Numero de orden</label>
        <input type="text" name="order" class="form-control" required />
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Cargar orden nueva</button>
      </div>
    </form>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {{#each orders}}
    <div class="card h-100">
      <a href="/materiales-orden/{{_id}}">N°: {{order}} <br> Proveedor: {{supplier}}</a>
    </div>
    {{/each}}
    {{!-- <table class="table table-striped-columns text-center">
      <thead>
        <tr>
          <th scope="col">Numero de orden y proveedor</th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
      <tbody>
        {{#each orders}}
        <tr>
          <td><a href="/materiales-orden/{{_id}}">N°: {{order}} <br> Proveedor: {{supplier}}</a>
          </td>
          <td>
            <button class="btn btn-primary"><a href="/carga-remito/{{_id}}">Cargar remito</a></button>
          </td>
          <td>
            <button class="btn btn-primary"><a href="/carga-inicial/{{_id}}">Carga inicial de la orden</a></button>
          </td>
          <td>
            <form action="/api/purchases/delete/{{_id}}" method="post">
              <button type="submit" class="btn btn-primary">Eliminar orden</button>
            </form>
          </td>
        </tr>
        {{/each}}
      </tbody>
      </tbody>
    </table> --}}
    <div class="pagination">
      {{#if (gt page 1)}}
      <a class="page-link" href="/?page={{subtract
          page
          1
        }}">Anterior</a>
      {{/if}}

      {{#if (lt page totalPages)}}
      <a class="page-link" href="/?page={{add
          page
          1
        }}">Siguiente</a>
      {{/if}}
    </div>
  </div>
