<div class="container">
  <form action="/api/items" method="post">
    <div class="mb-3">
      <label for="code" class="form-label">Codigo</label>
      <input
        type="text"
        name="code"
        class="form-control"
        id="code"
        placeholder=""
      />
    </div>
    <div class="mb-3">
      <label for="title" class="form-label">Nombre</label>
      <input
        type="text"
        name="title"
        class="form-control"
        id="title"
        placeholder=""
      />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Descripcion</label>
      <input
        type="text"
        name="description"
        class="form-control"
        id="description"
        placeholder=""
      />
    </div>
    <div class="mb-3">
      <label for="category" class="form-label">Categoria</label>
      <select name="category" id="category">
        <option value="Materiales">Materiales</option>
        <option value="Sanitarios">Sanitarios</option>
        <option value="Cocina">Cocina</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="stock" class="form-label">Stock</label>
      <input
        type="number"
        name="stock"
        class="form-control"
        id="stock"
        placeholder=""
      />
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-3">Cargar</button>
    </div>
  </form>
</div>

<div class="container">
  <table class="table table-striped-columns">
    <thead>
      <tr>
        <th scope="col">Codigo</th>
        <th scope="col">Nombre</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Categoria</th>
        <th scope="col">Stock</th>
      </tr>
    </thead>
    <tbody>
      {{#each data}}
        <tr>
          <td>{{code}}</td>
          <td>{{title}}</td>
          <td>{{description}}</td>
          <td>{{category}}</td>
          <td>
            <form action="/api/items/{{code}}" method="post">
              <label for="user">Operario</label>
              <input type="text" name="user" />
              <input type="number" value="{{stock}}" name="stock" />
              <button type="submit">Cambiar stock</button>
            </form>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>